body{

    margin: auto;
    width: 75%;
    height: fit-content;
    background-color: black;
}

.content{
    position: relative;
    align-content: center;
    text-align: center;
    font-size: 10vw;
    color: red;
    /* font-weight: bold; */
    padding: 10px;
    font-family: orbitron;
}
#HH , #MM, #SS {
    color: bisque;
}